<!DOCTYPE html>
    <head>
    <meta charset="UTF-8">
    <title>EJS Template</title>

    <!-- CSS link (loading Semantic UI from a CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="../static/script.css">
    </head>
    <body class="container">
        <header>
            <%- include('./partials/header'); %>
        </header>
        <div class="ui segment">

            <%- include('./partials/templateDetails.ejs'); %> 

            <div class="ui three column divided grid">
                <div class="stretched row">
                    <%- include('./partials/imageArea.ejs'); %> 
                    <div class="column" style="height: 32em;width: 57.5em; border-top: none">
                        <%- include('./partials/templateChecklist.ejs') %> 
                    </div>                    
                </div>
            </div>
            <%- include('./partials/footer.ejs') %> 
        </div>
    </body> 
</html>